:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  --text-color: white;
}

a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.active-link {
  color: red;
  opacity: 0.7;
  cursor: default;
}
