@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f5f5f5;
  background-color: black;
  --text-color: #fc0d45;
  --border-color: #4b5563;
  text-rendering: optimizeLegibility;
}

/* .active-link {
  @apply text-[color:var(--text-color)] opacity-50;
} */
