:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.active-link {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #272727;
}
